name: Reusable Flutter Build

on:
  workflow_call:
    inputs:
      flutter_version:
        required: false
        type: string
        default: '3.38.5'
      upload_retention:
        required: false
        type: number
        default: 1

jobs:
  build-android:
    name: Build Android APK
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
          cache: 'gradle'
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ inputs.flutter_version }}
          cache: true
      - run: flutter pub get
      - run: flutter build apk --release --target-platform android-arm64
      - uses: actions/upload-artifact@v4
        with:
          name: app-release-apk
          path: build/app/outputs/flutter-apk/app-release.apk
          retention-days: ${{ inputs.upload_retention }}

  build-ios:
    name: Build iOS IPA
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ inputs.flutter_version }}
          cache: true
      - run: flutter pub get
      - run: flutter build ios --release --no-codesign
      - run: |
          mkdir Payload
          cp -r build/ios/iphoneos/Runner.app Payload/
          zip -r app-release.ipa Payload
      - uses: actions/upload-artifact@v4
        with:
          name: app-release-ipa
          path: app-release.ipa
          retention-days: ${{ inputs.upload_retention }}