name: Reusable Flutter Test

on:
  workflow_call:
    inputs:
      flutter_version:
        required: false
        type: string
        default: '3.38.5'

jobs:
  test:
    name: Test & Analyze
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ inputs.flutter_version }}
          cache: true
      - run: flutter pub get
      - run: flutter analyze
      - run: flutter test